@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin: auto;
  margin-bottom: base(0.5);
  width: 60%;

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: base(0.5);

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}

.logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.logo {
  width: 200px;
}